<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<P>
	<% if current_user.following.include?(@user.id) %>
		<%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow-btn" %>
	<% else %>
		<% if current_user.id != @user.id %>
			<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
		<% end %>
	<% end %>
</P>

<% @user.tweets.each do |tweet| %>
	<div>
		<p>@<%= @user.username %></p>
		<p><%= tweet.message.html_safe %></p>
		&bull; <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
		<%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at > 86400 %>
	</div>
<% end %>