<h1><%= @tag.phrase %></h1>

	<% @tag.tweets.order(created_at: :desc).each do |tweet| %>
		<p>
			<%= tweet.user.username %> <%= "@#{tweet.user.username}" %>
			&bull; <%= time_ago_in_words(tweet.created_at)  %>
		</p>
		<p>
			<%= tweet.message.html_safe %>
		</p>
	<% end %>